

:root{
    --cor-fundo-site: rgb(9, 9, 11);
    --cor-destaque : #f8c630; 
    --cor-genero-filme: #332442;
    --cor-sobre-texto: #a9a9a9;
    --cor-fundo-filme: #16161a;
}

/* Fontes de texto*/
@font-face {
    font-family: "roboto";
    src: url(Fontes/Roboto/static/Roboto_SemiCondensed-Medium.ttf);
}

@font-face {
    font-family: "Playfair";
    src: url(Fontes/Playfair/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: var(--cor-fundo-site);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #fff;
}

nav{
    background-color: rgba(12, 12, 12, 0.658);
    padding: 20px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "roboto";
}

.nome-logo{
    display: flex;
    align-items: center;
    
}

.nome-logo p{
    font-family: "Playfair";
    font-size: 20px;
    margin-left: 10px;
    
}



.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


header{
    background: 
    linear-gradient(to bottom, rgba(9, 9, 9, 0.685), rgba(0,0,0,1)),
    url('media/Cinema.png') no-repeat top center;
    
}





.text-header{
    margin: 0px 0px 30px 0px;
    text-align: center;
    padding:30px 0px 150px 0px  ;
}

.text-header h1{
    font-size: 76px;
}

.text-header p{
    font-size: 16px;
    color: var(--cor-sobre-texto);
    margin: 20px 0px;
}




.article-text{
    margin: 0px 0px 30px 10px ;
}


.subTexto{
    font-size: 18px;
    color: var(--cor-sobre-texto);
    margin-bottom: 20px;
}

.text-header button{
    background-color: var(--cor-destaque);
    color: black;
    border: none;
    padding: 10px 30px;
    font-size: 14px; 
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}

.text-header button:hover{
    transform: scale(1.05);
}

.destaque{
    color: var(--cor-destaque);
}

.fcontainer{
    display: flex;
    gap: 15px 2px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filme{
    background-color: var(--cor-fundo-filme);
    border-radius: 5px;
    border: 1px solid var(--cor-sobre-texto);
    max-width: 302px;
    height: 500px;
    overflow: hidden;
    transition: 0.3s;
}

.filme:hover{
    transform: scale(1.05);
}

.filme h2{
    font-size: 20px;
    margin: 5px ;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#genero{
    background-color: var(--cor-genero-filme);
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    color: #fff;
}

.filme p{
    color: var(--cor-sobre-texto);
    font-size: 12px;
    margin: 5px;
}

.poster{
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

/*Footer da página*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 45px;
}